<launch>
	<node pkg="visualizer" type="visualizer.py" name="visualizer" output="screen">
        <param name="server_ip" value="138.67.204.77"/> 
        <param name="server_port" value="4445"/> 
    </node>

	<node pkg="rosserial_python" type="serial_node.py" name="arduino_1" output="screen" args="/dev/ttyACM1"> <param name="baud" value="115200"/> </node>
	<node pkg="rosserial_python" type="serial_node.py" name="arduino_2" output="screen" args="/dev/ttyACM0"> <param name="baud" value="115200"/> </node>

	<node pkg="object_detection" type="camera_publisher.py" name="camera" respawn="True" />
	<node pkg="object_detection" type="classifier.py" name="classifier" output="screen" />
	<node pkg="object_detection" type="block_position_finder.py" name="block_position_finder" output="screen" respawn="True" />
	<node pkg="object_detection" type="mothership_tracker.py" name="mothership_finder" output="screen" respawn="True" />

	<node pkg="scheduler" type="start_scheduler.py" name="scheduler" output="screen" />
</launch>
